p
{
    color: rebeccapurple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    align-self: center;
}

p2
{
    color: gray;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body
{
    background-color: darkgoldenrod;
}