p
{
    color: rebeccapurple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    align-self: center;
}

h1
{
    color: gray;
    font-size: medium;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}